:root {
  --primary-colour: #90818f;
  --secondary-colour: #faf7f5;
  --tertiary-colour: #c4b0b0;
  --heading-font-family: "Noto Serif Display", serif;
  --default-font-family: "Poppins", sans-serif;
  --default-font-color: #010101;
}

body {
  font-family: var(--default-font-family);
  color: var(--default-font-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font-family);
}

h2 {
  font-size: 24px;
}

p,
.hero h2 {
  font-family: "Poppins", sans-serif;
}

p {
  font-size: 14px;
  text-wrap: balance;
}

ul {
  list-style-type: none;
}

.hero,
.about-hero-container,
.secondary-hero {
  background-color: var(--secondary-colour);
  text-align: center;
  padding: 80px 20px;
}

.hero h1 {
  color: var(--primary-colour);
  font-size: 96px;
}

.hero h2 {
  color: var(--primary-colour);
  font-weight: normal;
  line-height: 2;
  font-size: 24px;
  opacity: 0.5;
}

.hero p {
  font-size: 36px;
  margin: 0;
  color: var(--primary-colour);
  opacity: 0.5;
}

.btn-hero-branding {
  background-color: var(--tertiary-colour);
  color: #fff;
  border-radius: 3px;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
  text-transform: uppercase;
}

.btn-hero-branding:hover {
  background-color: #fff;
  color: var(--tertiary-colour);
  border: 1px solid var(--tertiary-colour);
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 15px;
  padding-left: 100px;
  padding-right: 100px;
}

.grid-case-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 15px;
  padding-left: 100px;
  padding-right: 100px;
}

.grid-portfolio {
  text-align: center;
  margin-top: 32px;
  position: relative;
  margin-bottom: 16px;
}

.grid-portfolio:hover {
  background-color: var(--secondary-colour);
  border-radius: 10px;
}

.grid-portfolio:hover .grid-portfolio-image {
  opacity: 0.1;
}

.grid-portfolio:hover .grid-portfolio-content {
  opacity: 1;
  /*color: #fff;*/
}
.grid-portfolio-image {
  opacity: 1;
  display: block;
  width: 100%;
  height: 100%;
  transition: all 100ms ease-in-out;
  object-fit: cover;
  border-radius: 10px;
}

.grid-case-portfolio-image {
  opacity: 1;
  display: block;
  width: 100%;
  transition: all 100ms ease-in-out;
  object-fit: cover;
  border-radius: 10px;
}

.grid-portfolio-content {
  transition: all 300ms ease-in-out;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /*text-shadow: 1px 0px 6px var(--primary-colour);*/
}

.btn-grid {
  background-color: var(--tertiary-colour);
  color: #fff;
  border-radius: 3px;
  font-size: 12px;
  line-height: 27px;
  padding: 2px 10px;
  text-shadow: none;
  text-transform: uppercase;
}

.btn-grid:hover {
  background-color: #fff;
  color: var(--tertiary-colour);
  border: 1px solid var(--tertiary-colour);
}

.grid-cta {
  display: flex;
  justify-content: center;
}

.btn-cta {
  text-align: center;
  font-size: 12px;
  margin: 0 auto;
  color: var(--tertiary-colour);
  font-weight: 500;
  text-transform: uppercase;
}

.btn-cta:hover {
  color: var(--primary-colour);
}

.contact-container {
  background-color: var(--secondary-colour);
  display: flex;
  justify-content: space-between;
  margin: 50px 100px;
  align-items: center;
  padding: 20px 50px;
  border-radius: 3px;
}

.contact-container p {
  opacity: 0.5;
}

.about-hero-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 0;
}

.about-header-content h1 {
  font-size: 50px;
}

.about-header-content h2 {
  opacity: 0.5;
  line-height: 1.5;
  font-size: 20px;
  font-family: var(--default-font-family);
}

.about-header-content {
  /*transform: translate(20%, 0);*/
  margin-top: 45px;
}

.about-header-summary {
  font-size: 12px;
  padding: 0 110px;
}

.profile-img {
  max-width: 100%;
  height: auto;
  width: 100%;
}

.about-image {
  width: 20%;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 0;
  transform: translate(-31%, 0);
}

.white-space {
  text-align: center;
  padding: 10px 20px;
  font-size: 12px;
}

.white-space p {
  font-size: 12px;
  line-height: 1.2;
  text-transform: uppercase;
  margin-bottom: 0.5px;
  display: none;
}

.about-social-links {
  font-size: 20px;
  display: flex;
  justify-content: space-evenly;
  color: var(--primary-colour);
}

.about-social-links a {
  color: var(--primary-colour);
}

.about-skills-section {
  display: grid;
  grid-template-columns: 1fr;
}

.tag-list-container {
  margin: 0 auto;
}

.tag {
  background-color: var(--primary-colour);
  color: #fff;
  border-radius: 3px;
  font-size: 12px;
  line-height: 27px;
  padding: 2px 10px;
  display: inline-block;
  text-align: center;
  text-transform: uppercase;
}

.btn-secondary {
  background-color: var(--tertiary-colour);
  color: #fff;
  border-radius: 3px;
  font-size: 12px;
  line-height: 27px;
  padding: 2px 10px;
  text-align: center;
}

.project-portfolio {
  margin-bottom: 24px;
}

.portfolio-info {
  display: flex;
  justify-content: space-between;
}

.project-portfolio-title {
  font-family: var(--default-font-family);
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.project-short-description {
  font-family: var(--default-font-family);
  margin-top: -20px;
  font-size: 12px;
  margin-bottom: 20px;
  font-weight: 300;
}

.portfolio-links {
  display: flex;
  justify-content: center;
  align-items: center;
}

.project-description {
  font-weight: 200;
  text-align: center;
  font-size: 12px;
}

.note-copy {
  font-weight: 400;
  font-style: italic;
}

.portfolio-tags {
  margin: 0 auto 1rem;
  padding: 0;
}

.project-tags,
.project-promo-tags {
  background-color: #ea9a9b;
  color: #010101;
  border-radius: 3px;
  font-size: 10px;
  font-weight: 300;
  line-height: 27px;
  padding: 0 8px;
  display: inline-block;
  text-align: center;
  text-transform: uppercase;
}

.project-promo-tags {
  color: #010101;
}

.project-promo-tags a,
.project-promo-tags-two a,
.project-promo-tags-three a,
.project-promo-tags-four a,
.project-promo-tags-five a,
.project-promo-tags-six a {
  color: inherit;
  text-decoration: none;
  font-weight: 400;
}

.project-promo-tags:hover {
  color: #ea9a9b;
  background-color: #fff;
  border: solid 1px #ea9a9b;
  border-radius: 3px;
  font-size: 10px;
  font-weight: 300;
  line-height: 27px;
  padding: 0 8px;
  display: inline-block;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
}

.project-promo-tags-two,
.project-tags-two {
  background-color: #ffb089;
  color: #010101;
  border-radius: 3px;
  font-size: 10px;
  font-weight: 300;
  line-height: 27px;
  padding: 0 8px;
  display: inline-block;
  text-align: center;
  text-transform: uppercase;
}

.project-promo-tags-two:hover {
  color: #ffb089;
  background-color: #fff;
  border: solid 1px #ffb089;
  cursor: pointer;
}

.project-promo-tags-three,
.project-tags-three {
  background-color: #ffd075;
  color: #010101;
  border-radius: 3px;
  font-size: 10px;
  font-weight: 300;
  line-height: 27px;
  padding: 0 8px;
  display: inline-block;
  text-align: center;
  text-transform: uppercase;
}

.project-promo-tags-three:hover {
  color: #ffd075;
  background-color: #fff;
  border: solid 1px #ffd075;
  cursor: pointer;
}

.project-promo-tags-four,
.project-tags-four {
  background-color: #b09785;
  color: #010101;
  border-radius: 3px;
  font-size: 10px;
  font-weight: 300;
  line-height: 27px;
  padding: 0 8px;
  display: inline-block;
  text-align: center;
  text-transform: uppercase;
}

.project-promo-tags-four:hover {
  color: #b09785;
  background-color: #fff;
  border: solid 1px #b09785;
  cursor: pointer;
}

.project-promo-tags-five,
.project-tags-five {
  background-color: #c0d2ac;
  color: #010101;
  border-radius: 3px;
  font-size: 10px;
  font-weight: 300;
  line-height: 27px;
  padding: 0 8px;
  display: inline-block;
  text-align: center;
  text-transform: uppercase;
}

.project-promo-tags-five:hover {
  color: #c0d2ac;
  background-color: #fff;
  border: solid 1px #c0d2ac;
  cursor: pointer;
}

.project-promo-tags-six,
.project-tags-six {
  background-color: #f5d4ed;
  color: #010101;
  border-radius: 3px;
  font-size: 10px;
  font-weight: 300;
  line-height: 27px;
  padding: 0 8px;
  display: inline-block;
  text-align: center;
  text-transform: uppercase;
}

.project-promo-tags-six:hover {
  color: #f5d4ed;
  background-color: #fff;
  border: solid 1px #f5d4ed;
  cursor: pointer;
}

.project-case-one {
  background-color: #ffb089;
}

.project-case-two {
  background-color: #b09785;
}

.project-case-three {
  background-color: #c0d2ac;
}

.project-case-four {
  background-color: #ffd075;
}

.logo {
  max-height: 90px;
}

nav {
  font-family: var(--default-font-family);
  color: var(--default-font-color);
}

nav ul {
  padding: 0;
  margin: 0;
}

nav li {
  display: inline;
  list-style: none;
  line-height: 42px;
  margin-left: 15px;
}

nav a {
  text-decoration: none;
  color: var(--default-font-color);
  transition: all 100ms ease-in-out;
}

nav a:hover,
nav li.active a {
  color: var(--primary-colour);
}

.project-case-codes .project-description {
  display: none;
}

.project-case-codes .project-description.show {
  display: block;
  position: absolute;
  top: 235%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  width: 65%;
  z-index: 999;
}

.project-case-four.show {
  top: 380% !important;
}

.course-project-cta {
  display: flex;
  justify-content: center;
}

.sign-off,
.sign-off a,
.footer-socials,
.footer-socials a {
  color: var(--primary-colour);
}

.footer-socials {
  justify-content: space-evenly !important;
  align-items: center;
  width: 35%;
  margin: 0 auto;
  font-size: 30px;
}

.sign-off {
  font-size: 12px;
  padding: 0 5px;
}

@media screen and (min-width: 658px) {
  .portfolio-mobile-view {
    width: 50%;
    margin: 0 auto;
  }

  #vs-project-title br {
    display: none;
  }
}

@media screen and (max-width: 657px) {
  .logo {
    max-height: 80px;
  }

  nav li {
    font-size: 12px;
  }

  .hero h1 {
    font-size: 80px;
  }

  .hero h2 {
    font-size: 20px;
  }

  .hero p {
    font-size: 24px;
  }

  .secondary-hero,
  .about-hero-container {
    padding: 40px 20px;
  }

  .secondary-hero h1 {
    font-size: 50px;
    margin-bottom: 20px;
  }

  .grid-container,
  .grid-case-container {
    display: grid;
    grid-template-columns: 1fr;
    padding-left: 20px;
    padding-right: 20px;
  }

  .grid-portfolio {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .grid-portfolio-image {
    aspect-ratio: 1;
  }

  .grid-portfolio-content {
    transition: all 300ms ease-in-out;
    opacity: 1;
    position: unset;
    transform: none;
  }

  .grid-portfolio-title {
    margin-top: 1rem;
  }

  .text-container,
  .about-header-summary {
    padding-left: 20px;
    padding-right: 20px;
  }

  .project-portfolio {
    padding-top: 10px !important;
  }

  #vs-project-title {
    font-size: 16px !important;
  }

  .portfolio-links {
    padding-left: 0;
  }

  #real-project {
    margin-top: 16px !important;
  }

  .project-portfolio-title {
    font-size: 18px;
    margin-bottom: 16px !important;
  }

  .project-description {
    font-size: 14px;
  }

  .project-tags,
  .project-tags-two,
  .project-tags-three,
  .project-tags-four,
  .project-tags-five,
  .project-promo-tags,
  .project-promo-tags-two,
  .project-promo-tags-three,
  .project-promo-tags-four,
  .project-promo-tags-five,
  .project-promo-tags-six {
    font-size: 12px;
  }

  .course-project-cta {
    margin-bottom: 8px;
  }

  .about-header-content {
    flex: none;
    width: 100%;
  }

  .about-header-summary {
    padding: 0;
    text-wrap: balance !important;
  }

  .profile-img {
    display: none;
  }

  .about-image {
    box-shadow: none;
    width: 50%;
    background-color: inherit;
    transform: none;
  }

  .about-social-links {
    margin-top: 10px;
    padding: 0 !important;
  }

  .contact-container {
    margin: 30px 0 0;
    padding: 20px 38px;
  }

  .btn-hero-branding {
    padding: 9px 10px;
    font-size: 14px;
  }

  .btn-multi {
    display: flex;
    flex-direction: column;
  }

  .btn-multi a {
    display: inline-block;
    margin: 0 auto 8px;
    width: 45%;
  }

  .project-case-codes .project-description.show {
    width: 91%;
  }

  .project-case-four.show {
    top: 1300% !important;
  }
}
